<section class="probootstrap-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6 probootstrap-animate">
              <div class="probootstrap-footer-widget">
                <h3>Locations</h3>
                <div class="row">
                  <div class="col-md-6">
                    <p> 5034 , Moknin , Monastir <br> Tunisia</p>
                  </div>
                  <div class="col-md-6">
                    <p> Nasria, Sfax <br> Tunisia</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 probootstrap-animate">
              <div class="probootstrap-footer-widget">
                <h3>My phone Number</h3>
                <div class="row">
                  <div class="col-md-6">
                    <p>+216 24 741 837 </p>
                  </div>
                  <div class="col-md-6">
                    <p>+216 98 559 670</p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="probootstrap-copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <p class="copyright-text">&copy; 2020 <a href="">Bel Hadj Ali Sarra</a></p>
            </div>
            <div class="col-md-4">
              <ul class="probootstrap-footer-social right">
                <li><a href="#"><i class="icon-email"></i></a></li>
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
