<section class="probootstrap-section probootstrap-bg-white">
        <div class="container">
          <div class="row">
            <div class="col-md-5 text-center probootstrap-animate">
              <div class="probootstrap-heading dark">
                <h1 class="primary-heading">Confledis</h1>
                <h3 class="secondary-heading">notre societé</h3>
                <span class="seperator">* * *</span>
              </div>
              <p>La société CONSULTING FLEXIBLE DIGITAL SOLUTIONS a été créée il y a 1 an et 5 mois, basée à PARIS 19 dans le 75.
                    L’institut national de la statistique et des études économiques (INSEE) a classé cette entreprise en Conseil en systèmes et logiciels informatiques
                    CONSULTING FLEXIBLE DIGITAL SOLUTIONS avec un capital de 5 K euros.</p>
              <p><a href="https://confledis.com/" class="probootstrap-custom-link">About Us</a></p>
            </div>
            <div class="col-md-6 col-md-push-1 probootstrap-animate">
              <p><img src="assets/img/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></p>
            </div>
          </div>
          <!-- END row -->
        </div>
      </section>
  
